.contact-form{
    margin: 1rem;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

.form-group{
    margin: 5px;
    font-size: 20px;
    width:100%;
    margin-bottom:1.5rem;
    align-items: center;
    /* padding: 1.2rem; */
}

label{
    font-size: 1.5rem;
    color: white;
}

input,textarea{
    width:100%;
    font-size:1.5rem;
    outline: none;
    border: none;
    border-color: black;
    border-radius: 5px;
    margin-top: 1rem;

}

textarea{
    min-height: 250px;
    resize: vertical;

}

.btn2{
    background-color: white;
}