/* .underline {
    display: inline;
    position: relative;
    overflow: hidden;
  }
  .underline:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: grey;
    height: 4px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    text-decoration : underline 3px;
    text-underline-offset: 1rem;
    
  }
  .underline:hover:after,
  .underline:focus:after,
  .underline:active:after {
    left: 0;
    right: auto;
    width: 100%;
  } */



  .underline {
    display: inline;
    position: relative;
    overflow: hidden;
  }
  .underline:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: -5px;
    background: grey;
    height: 4px;
    transition-property: left right;
    transition-duration: 0.3s;
    text-decoration : underline 3px;
    transition-timing-function: ease-out;
    text-decoration : underline 3px;
    text-underline-offset: 1rem;
  }
  .underline:hover:after,
  .underline:focus:after,
  .underline:active:after {
    right: 0;
  }