.project-section{
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

